## Configuration du header 
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "GET, POST, PATCH, DELETE, OPTIONS"
Header always set Access-Control-Allow-Headers "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"

## Configuration des routes
Options +FollowSymlinks
RewriteEngine On
RewriteBase /projetAPI2024/

## Réécriture des URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

## Pour l'utilisation de AuthAPI
RewriteRule ^authapi authapi.php [L]

## Pour les usagers
RewriteRule ^cabmed/usagers cabmed/usagers/index.php [QSA,L]
RewriteRule ^cabmed/usagers/([0-9]+)$ cabmed/usagers/index.php?id_usager=$1 [QSA,L]

## Pour les médecins
RewriteRule ^cabmed/medecins cabmed/medecins/index.php [QSA,L]
RewriteRule ^cabmed/medecins/([0-9]+)$ cabmed/medecins/index.php?id_medecin=$1 [QSA,L]

## Pour les consultations
RewriteRule ^cabmed/consultations cabmed/consultations/index.php [QSA,L]
RewriteRule ^cabmed/consultations/([0-9]+)$ cabmed/consultations/index.php?id_consult=$1 [QSA,L]

## Pour les statistiques
## Médecins
RewriteRule ^cabmed/stats/medecins cabmed/stats/medecins/index.php [L]

## Usagers
RewriteRule ^cabmed/stats/usagers cabmed/stats/usagers/index.php [L]
