## Configuration du header 
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
Header always set Access-Control-Allow-Headers "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"

## Configuration des routes
Options +FollowSymlinks
DirectoryIndex index.php
RewriteEngine On
## RewriteBase 

## Réécriture des URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

## Pour les usagers
RewriteRule ^usagers/([0-9]+)$ usagers/index.php?id=$1 [QSA,L]

## Pour les médecins
RewriteRule ^medecins/([0-9]+)$ medecins/index.php?id=$1 [QSA,L]

## Pour les consultations
RewriteRule ^consultations/([0-9]+)$ consultations/index.php?id=$1 [QSA,L]

## Pour les statistiques
## Médecins
RewriteRule ^stats/medecins stats/medecins/index.php [L]

## Usagers
RewriteRule ^stats/usagers stats/usagers/index.php [L]

## Pour l'utilisation de AuthAPI
RewriteRule ^authapi/authapi authapi/authapi.php [L]